/* :root{  --pri-text-color: #212121 } 
.main{ background-color: var(--pri-text-color)} */

:root {
    --primary-text-color: #212121;
    --focus-text-color: #2196F3;
    --other-text-color: #FFFFFF;
    --logo-text-color: #000000;
    --advantage-text-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #ffffff;
    
  
}

a{text-decoration: none;}
address{list-style-type:none;
    text-decoration: none;}

.Logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-text-color)
}
.logospan-footer{color: var(--other-text-color);}

.logospan {
    color: var(--focus-text-color);
}

.list{list-style-type:none;  }


.nav-knopky { 
    color: var(--logo-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    }

.communication { color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.communication-mail,.communication-tel{color: var(--advantage-text-color)}



.link :hover,
.link :focus{
    color: var(--focus-text-color);
}

.main {
    background: #2F303A
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--other-text-color)
}

.btn-order { font-family: 'Roboto', sans-serif;
    background-color: var(--focus-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--other-text-color);
}

.advantage-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantage-title-two {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantage-text {
    
    font-size: 14px;
    line-height: 1.7;
    color: var(--advantage-text-color)
}

.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team-title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.team-post {
    
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--advantage-text-color);
}

.footer {
    background: #2F303A
}

.Address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--other-text-color);
}

.communication-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

.title-galety {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.bnt-portfolio {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-text-color)
}

.bnt-link :hover,
.bnt-link :focus,
.bnt-link :active {
    background-color: var(--focus-text-color);
    color: var(--other-text-color);
}

.title-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.text-portfolio {
    
    font-size: 16px;
    line-height: 1.9;
    color: var(--advantage-text-color);
}
.communication-footer:hover,.communication-footer:focus,.Address-link:hover,.Address-link:focus {color: var(--focus-text-color);}
